doctype html
title #{datai.name}
meta(name='viewport' content='width=device-width, initial-scale=1')
link(rel='stylesheet' href='https://www.w3schools.com/w3css/4/w3.css')
head
  style.
    body {
    background-image: linear-gradient(to right, yellow , green);
    }
a(href='/events/' + datai.id + '/signup')
  button.w3-btn.w3-green.w3-xlarge.w3-section.w3-mobile Click here to sign up
br
a(href='/')
  button.w3-btn.w3-green.w3-mobile Go back home
.w3-card-4.w3-mobile.w3-animate-top(style='width:50%; margin:auto')
  header.w3-container.w3-yellow
    h1 #{datai.name}
  .w3-container.w3-white
    p
      | Date: #{datai.date.month}/#{datai.date.day}/#{yeari}
      br
      | Time: #{datai.time}
      br
      | Positions Needed: #{datai.pos}
      br
      | Who is currently working it: 
      br
      | Sound - #{datai.people.sound} 
      br
      | Lights - #{datai.people.lights} 
      br
      | Backstage - #{datai.people.backstage}
  footer.w3-container.w3-green
    h5 LOCATION: #{datai.location} 
