doctype html
title #{datai.name}
meta(name='viewport' content='width=device-width, initial-scale=1')
link(rel='stylesheet' href='/css/w3.css')
head
  style.
    body {
    background-image: linear-gradient(to right, yellow , green);
    }
a(href='/events/' + datai.id + '/signup')
  button.w3-btn.w3-green.w3-xlarge.w3-section.w3-mobile Click here to sign up
br
a(href='/')
  button.w3-btn.w3-green.w3-mobile.w3-xlarge.w3-section Go back home
unless !isadmin
  br
  a(href='/events/' + datai.id + "/delete")
    button.w3-btn.w3-green.w3-mobile Delete this event
.w3-card-4.w3-mobile.w3-animate-opacity(style='width:50%; margin:auto')
  header.w3-container.w3-light-grey
    b
      p.w3-xxxlarge.w3-text-red #{datai.name}
  .w3-container.w3-light-grey.w3-border
    p.w3-xlarge
      | Date: #{datai.date.month} #{datai.date.day}, #{datai.date.year}
      br
      | Time: #{datai.time}
      br
      b
        | Positions Needed: #{datai.pos}
  footer.w3-container.w3-light-grey 
    p.w3-xlarge
      | Who is currently working it: 
      br
      br
      | Sound - #{datai.people.sound} 
      unless !('sound' in datai.people)
        a.w3-large.w3-text-blue(href="/events/" + datai.id + "/sound/delete") delete
      unless datai.pos == "Sound Only"
        br
        |Lights - #{datai.people.lights}&nbsp;
        unless !('lights' in datai.people)
          a.w3-large.w3-text-blue(href="/events/" + datai.id + "/lights/delete") delete
      unless datai.pos == "Sound Only" || datai.pos == "Sound & Lights"
        br
        | Backstage - #{datai.people.backstage}&nbsp;
        unless !('backstage' in datai.people)
          a.w3-large.w3-text-blue(href="/events/" + datai.id + "/backstage/delete") delete
      b
        p.w3-xxlarge LOCATION: #{datai.location} 
